database_connection_string= # The connection string for connecting to your database. (For example, postgres://username:password@host/database)
server_port= # The port the web application should listen for incoming connections on. This is likely 80 for production and 3000 for development/testing.